<!--Bottom Nav-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-20 navbar-text"> &nbsp &copy; Vladyslav Byelozerskykh 310182353</h6>
    </nav>
  </footer> 