<body>
    <!--main nav-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand" href="/"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportContent" aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>

      
      

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if(title == "Home") {%> 
            <li class="nav-item active">
            <% } else {%>
              <li class="nav-item">
              <% } %> 
          
            <a class="nav-link" href="/home"> <i class="fa-solid fa-house"></i> Home Page</a> 
          </li>

          <% if(title == "About") {%> 
            <li class="nav-item active">
            <% } else {%>
              <li class="nav-item">
              <% } %> 
            <a class="nav-link" href="/about"> <i class="fa-solid fa-user"></i> About Me</a> 

          </li>

          <% if(title == "Projects") {%> 
            <li class="nav-item active">
            <% } else {%>
              <li class="nav-item">
              <% } %> 
            <a class="nav-link" href="/projects"> <i class="fa-sharp fa-solid fa-calendar-days"></i> Projects</a> 
          </li>
          

          <% if(title == "Services") {%> 
            <li class="nav-item active">
            <% } else {%>
              <li class="nav-item">
              <% } %> 
            <a class="nav-link" href="/services"> <i class="fa-solid fa-mobile"></i> Services</a> 

          </li>
          <% if(title == "People") {%> 
            <li class="nav-item active">
            <% } else {%>
              <li class="nav-item">
              <% } %> 
            <a class="nav-link" href="/infor"><i class="fa-sharp fa-solid fa-person"></i> People</a> 

          </li>

          <% if(title == "Contacs") {%> 
            <li class="nav-item active">
            <% } else {%>
              <li class="nav-item">
              <% } %> 
            <a class="nav-link" href="/contact"> <i class="fa-sharp fa-solid fa-address-card"></i> Contacs</a>

          </li>
          <% if(typeof displayName == 'string' && displayName) { %>
            <li class="navbar-text"><i class="fas fa-lg fa-user"></i> Welcome, <%= displayName %></li>
            <li class="nav-item"><a href="/logout" class="nav-link">
              <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
          <% } else { %>
            <li class="nav-item"><a href="/login" class="nav-link">
              <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
          <% } %>
        
        </ul>
        
      </div>

   
    </nav>
  